$blue: #0477bf;
$black: #000;

$font-family-sans-serif: Inter, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-weight-bold: 600;
$headings-font-weight: 600;
$btn-font-weight: $font-weight-bold;

$navbar-padding-y: 1rem;

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: rgba($black, .85);
$navbar-light-active-color: rgba($black, .85);
$navbar-light-disabled-color: rgba($black, .5);

// Add xxl breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

@import 'node_modules/bootstrap/scss/bootstrap';
