@import 'theme';

.navbar {
  user-select: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-link-sm {
  font-size: 0.875rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.nav-user-dropdown-toggle {
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
}

.nav-profile-photo {
  height: 36px;
  display: inline-block;
  vertical-align: -0.75rem;
}

.media-container {
  max-height: calc(100vh - 7.5625rem);
  text-align: center;
}

#main-media {
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 30rem;
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    max-height: 100%;
  }
}

.metadata-container {
  font-size: 0.875rem;
}

.metadata-geo .circle {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  background-color: rgba(0, 77, 168, 0.8);
  border: 2px solid #333333;
  border-radius: 50%;
  pointer-events: none;
}

.image-stack {
  display: grid;

  img {
    grid-area: 1 / 1;

    &:not(:first-of-type) {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:not(:first-of-type).visible {
      opacity: 1;
    }
  }
}

.metadata-tags .btn {
  font-weight: normal;
  color: #000;

  &:hover {
    color: #fff;
  }
}
