#map  {
    width: 100%;
    height: calc(100vh - 14rem);
    margin-bottom: 1rem;;
}

.popup-img {
    max-width: 150px;
    height: auto;
}

.filter-sidebar {
    user-select: none;
}

.filter-heading {
    font-weight: 600;
}