html {
  font-size: 14px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  user-select: none;
}

.navbar-filler {
  height: 3.5rem;
}

a {
  color: #346cb0;
}

.results .media .thumbnail {
  width: 150px;
}

.filter-sidebar {
  position: sticky;
  max-height: calc(100vh - 4.5rem);
  top: 3.5rem;
}

#main-media {
  max-height: 60vh;
}

/*------------------------------------
- COLOR theme
------------------------------------*/
.alert-theme {
  color: #183251;
  background-color: #c2d5ed;
  border-color: #b3cbe8;
}

.alert-theme hr {
  border-top-color: #9fbde2;
}

.alert-theme .alert-link {
  color: #0c192a;
}

.badge-theme {
  color: #fff;
  background-color: #346cb0;
}

.badge-theme[href]:hover, .badge-theme[href]:focus {
  color: #fff;
  background-color: #285388;
}

.bg-theme {
  background-color: #346cb0 !important;
}

a.bg-theme:hover, a.bg-theme:focus,
button.bg-theme:hover,
button.bg-theme:focus {
  background-color: #285388 !important;
}

.border-theme {
  border-color: #346cb0 !important;
}

.btn-theme {
  color: #fff;
  background-color: #346cb0;
  border-color: #346cb0;
}

.btn-theme:hover {
  color: #fff;
  background-color: #2b5b94;
  border-color: #285388;
}

.btn-theme:focus, .btn-theme.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 108, 176, 0.5);
}

.btn-theme.disabled, .btn-theme:disabled {
  color: #fff;
  background-color: #346cb0;
  border-color: #346cb0;
}

.btn-theme:not(:disabled):not(.disabled):active, .btn-theme:not(:disabled):not(.disabled).active, .show > .btn-theme.dropdown-toggle {
  color: #fff;
  background-color: #285388;
  border-color: #244c7c;
}

.btn-theme:not(:disabled):not(.disabled):active:focus, .btn-theme:not(:disabled):not(.disabled).active:focus, .show > .btn-theme.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 108, 176, 0.5);
}

.btn-outline-theme {
  color: #346cb0;
  background-color: transparent;
  border-color: #346cb0;
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: #346cb0;
  border-color: #346cb0;
}

.btn-outline-theme:focus, .btn-outline-theme.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 108, 176, 0.5);
}

.btn-outline-theme.disabled, .btn-outline-theme:disabled {
  color: #346cb0;
  background-color: transparent;
}

.btn-outline-theme:not(:disabled):not(.disabled):active, .btn-outline-theme:not(:disabled):not(.disabled).active, .show > .btn-outline-theme.dropdown-toggle {
  color: #fff;
  background-color: #346cb0;
  border-color: #346cb0;
}

.btn-outline-theme:not(:disabled):not(.disabled):active:focus, .btn-outline-theme:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-theme.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 108, 176, 0.5);
}

.list-group-item-theme {
  color: #183251;
  background-color: #b3cbe8;
}

.list-group-item-theme.list-group-item-action:hover, .list-group-item-theme.list-group-item-action:focus {
  color: #183251;
  background-color: #9fbde2;
}

.list-group-item-theme.list-group-item-action.active {
  color: #fff;
  background-color: #183251;
  border-color: #183251;
}

.table-theme,
.table-theme > th,
.table-theme > td {
  background-color: #b3cbe8;
}

.table-hover .table-theme:hover {
  background-color: #9fbde2;
}

.table-hover .table-theme:hover > td,
.table-hover .table-theme:hover > th {
  background-color: #9fbde2;
}

.text-theme {
  color: #346cb0 !important;
}

a.text-theme:hover, a.text-theme:focus {
  color: #285388 !important;
}
