@using Microsoft.AspNetCore.Routing;

@{
    ViewData["Title"] = "View staff activities";
}

<input type="hidden" value="@ViewData["Email"]" id="email" />
<div id="root"></div>

@section Scripts {
    <script src="~/scripts/staffactivity.js"></script>
}

