<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Media Library Intranet Portal</title>
    <link rel="icon" href="~/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">

    <link rel="stylesheet" href="~/fonts/fonts.css">
    <link rel="stylesheet" href="~/styles/site.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white border-bottom shadow-sm">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand font-weight-bold">
                <img src="~/icon.svg" width="30" height="30" class="d-inline-block d-lg-none align-top" alt="Media Library">
                <span class="d-none d-lg-block">Media Library</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
