@{
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Media Library Upload Portal</title>
    <link rel="icon" href="~/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">

    <link rel="stylesheet" href="~/styles/site.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white border-bottom shadow-sm">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand font-weight-bold">Media Library Upload Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <main role="main">
    @if (controllerName != null && controllerName == "Home")
    {
        @RenderBody()
    }
    else
    {
        <div class="container mt-4">
            @RenderBody()
        </div>
    }
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-auto">
                    <span class="text-light">Media Library Upload Portal</span>
                </div>
                <div class="col-sm-auto">
                    <span class="text-white-50">&copy; 2021 URA-ISG</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
