@using System.Security.Principal
@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ml-md-auto">
        <li class="navbar-text mr-md-4">Hello @User.Identity.Name</li>
        <!-- The Account controller is not defined in this project. Instead, it is part of Microsoft.Identity.Web.UI nuget package and
            it defines some well known actions such as SignUp/In, SignOut and EditProfile-->
        <li class="nav-item">
            <form class="form-inline" method="get" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                <button type="submit" class="btn btn-primary">Sign Out</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <form class="form-inline" method="get" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </li>
    </ul>
}
