@using Microsoft.AspNetCore.Routing;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<div class="container-lg mt-4">
    <div class="d-flex justify-content-end p-2 mb-4 mt-4 border bg-light rounded">
        <a href="@Url.Action("Edit", "Gallery", new RouteValueDictionary(){ { "id", ViewData["mediaId"] } })" class="btn btn-outline-primary btn-sm mr-3">Reset</a>
        <a id="saveData" class="text-decoration-none btn btn-primary btn-sm mr-2">Save</a>
    </div>
    <div class="row">
        <div class="media-container col-md-8">
            <a class="mx-auto" href="#" download>
                <img id="main-media"
                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22600%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Crect%20width%3D%22600%22%20height%3D%22400%22%20fill%3D%22%23d7d8d9%22%3E%3C%2Frect%3E%3C%2Fsvg%3E"
                     alt="" data-fileinfoid="@ViewData["mediaId"]">
            </a>
        </div>
        <div class="col-md-4">
            <hr class="d-block d-md-none" />
            <div class="row metadata-container"></div>
            <div class="d-inline-flex flex-row">
                <input type="text" id="newTagInput" class="form-control form-control-sm mr-2 ">
                <a id="addTag" class="btn btn-info btn-sm flex-shrink-0">Add a tag</a>
            </div>
            <div class="tags-notif"></div>
            <input id="RequestVerificationToken" type="hidden" value="@requestToken">
        </div>
    </div>
</div>

<template id="metadata-section">
    <div class="col-12">
        <h5>Info</h5>
        <div class="metadata-author">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            <span></span>
        </div>
        <div class="metadata-geo">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <span class="dropdown">
                <a class="dropdown-toggle" ref="#" role="button" id="metadata-geo-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu py-0" aria-labelledby="metadata-geo-dropdown">
                    <div class="image-stack">
                        <span class="circle"></span>
                        <img src="" alt="Location map">
                        <img src="" alt="Location map">
                    </div>
                </div>
            </span>
        </div>
        <div class="metadata-taken">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 12V6a1 1 0 0 0-1-1h-1.172a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 9.173 3H6.828a1 1 0 0 0-.707.293l-.828.828A3 3 0 0 1 3.172 5H2a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                <path fill-rule="evenodd" d="M8 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                <path d="M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
            </svg>
            <span>Taken on </span>
        </div>
        <div class="metadata-uploaded">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-upload text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
            </svg>
            <span>Uploaded on </span>
        </div>
        <hr class="mt-4" />
    </div>
    <div class="metadata-details col-12 mt-2">
        <h5>Details</h5>
        <form>
            <dl class="row mb-0">
                <dt class="font-weight-normal col-xl-5 required">Name</dt>
                <dd class="col-xl-7"><input type="text" name="Project" class="form-control form-control-sm" required></dd>
                <dt class="font-weight-normal col-xl-5 required">Location</dt>
                <dd class="col-xl-7"><input type="text" name="LocationName" class="form-control form-control-sm" required></dd>
                <dt class="font-weight-normal col-xl-5">Copyright Owner</dt>
                <dd class="col-xl-7"><input type="text" name="Copyright" class="form-control form-control-sm"></dd>
                <dt class="font-weight-normal col-xl-5">Caption</dt>
                <dd class="col-xl-7"><textarea name="Caption" class="form-control form-control-sm" rows="3"></textarea></dd>
            </dl>
        </form>
        <hr />
    </div>
    <div class="metadata-tags col-12 mt-2">
        <h5 class="mb-2">Tags</h5>
        <div class="tag-area"></div>
    </div>
</template>

<template id="tags-btn">
    <a class="tagger-tag btn btn-outline-secondary btn-xs mb-2 mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" width="12" height="12" class="ml-1 bi bi-x-circle-fill text-secondary">
            <path class="deleteBtn" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
        </svg>
    </a>
</template>

@section Scripts {
    <script src="~/scripts/edit.js"></script>
}
