@{
    ViewData["Title"] = "Search";
}

@section Styles {
    <link rel="stylesheet" href="~/styles/leaflet.css">
}

@section Scripts {
    <script src="~/scripts/leaflet.js"></script>
    <script src="~/scripts/gallery.js"></script>
}

<div id="root"></div>
